<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div class="container">
        <title>Eat-Da-Burger! </title>
        <h1>Eat-Da-Burger!</h1>

        {{!--
        <h2>Burgers that have not been devoured!</h2>




        <h2>Burgers that have been devoured!</h2> --}}

        <!-- input form -->
        <form action="">
            <div class="form-group">
                <label for="exampleFormControlTextarea1"> Submit a New Burger!</label>
                <textarea class="form-control" id="name" rows="3"></textarea>
            </div>
        </form>
    </div>
    <!-- submit button -->

    <button type="button" class="btn btn-light">Submit!</button>

    <!-- target div for entered burger names -->
    <div class="added-burgers">

    </div>
</body>

</html>